.main{
    display: flex;
}
.skillContainer{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 100px;
}
.skillMain{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bulge {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.bulgingElement {
    width: 50px;
    height: 50px;
    color: #5b8e1e;
    animation: bulge 1s ease-in-out infinite;
}
